/* PC Breakpoint */
@media screen and (min-width: 992px) {
    .show-on-mobile {
        display: none;
    }

    .show-on-tm {
        display: none;
    }

    .hide-on-tablet-pc {
        display: none;
    }
}

/* Tablet & Mobile Breakpoint */
@media screen and (max-width: 991px) {
    .hide-on-tablet-mobile {
        display: none !important;
    }

    .header .nav-bar {
        position: relative;
    }

    .header .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .toggle-menu {
        width: 24px;
        height: auto;
        color: #666;
    }

    .overlay-menu {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background: #fff;
        z-index: 2;
        padding: 20px;
        transform: translateX(-100%);
        transition: 0.5s;
    }

    .menu-checkbox:checked ~ .overlay-menu {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .tm-nav {
        margin-top: 20px;
    }

    .tm-nav .nav-link {
        display: block;
        padding: 10px 0;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.75;
        color: #5f5b53;
    }

    .separate {
        border-top: 1.5px solid #ebebeb;
    }

    .hero .body {
        flex-direction: column;
    }

    .hero .media-block {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .hero-summary {
        width: 270px;
        height: auto;
    }

    .hero .content-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 64px 0 0 0;
    }

    .hero .heading {
        width: 86%;
        text-align: center;
    }

    .hero .desc {
        width: 83%;
        text-align: center;
    }

    .hero .cta-group {
        margin: 38px 0 20px;
    }

    .hero-stats {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hide-on-tablet-mobile {
        display: none;
    }

    .hero-stats .desc {
        width: 100%;
    }

    .hero-stats .stats {
        display: flex;
        justify-content: space-between;
    }

    .hero-stats .stats p {
        display: flex;
        flex-direction: column;
    }

    .popular {
        margin-top: 35px;
    }

    .popular-top {
        justify-content: center;
        text-align: center;
    }

    .popular-top .desc {
        width: 85%;
        margin: 16px auto;
    }

    .popular-bottom .list {
        overflow: auto;
    }

    .popular-bottom .item {
        flex-grow: 1;
        flex-shrink: 0;
        width: auto;
    }

    .feedback-list {
        overflow: scroll;
    }

    .features {
        margin-top: 35px;
    }

    .features .body {
        flex-direction: column;
    }

    .features .sub-content {
        margin-bottom: 80px;
        order: 1;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .features .heading {
        width: 68%;
    }

    .features .desc {
        width: 50%;
    }

    .features .images {
        order: 2;
        justify-content: center;
    }

    .features-2nd .heading {
        width: 71%;
    }

    .features-2nd .desc {
        width: 67%;
    }

    .blog {
        margin-top: 35px;
    }

    .blog-list {
        overflow: auto;
    }

    .footer .row {
        display: grid;
        grid-template-columns: 2fr 1fr;
        row-gap: 40px;
    }

    .footer .row .col {
        width: 100% !important;
    }
}

/* Tablet Breakpoint */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .show-on-mobile {
        display: none !important;
    }

    .hide-on-tablet-pc {
        display: none;
    }
}

/* Mobile Breakpoint */
@media screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none !important;
    }

    .hero .content-block {
        padding: 0;
    }

    .heading.lv1 {
        width: 100%;
        font-size: 4rem;
    }

    .heading.lv2 {
        font-size: 3.5rem;
    }

    .watch-video .icon {
        flex-shrink: 0;
    }

    .popular-bottom .list {
        display: grid;
        grid-template-columns: 1fr;
    }

    .popular-bottom .link {
        margin-top: 30px;
        display: flex;
        column-gap: 8px;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 1.3rem;
        color: #0689ff;
    }

    .feedback {
        margin-top: 65px;
        padding-bottom: 46px;
    }

    .feedback-list {
        padding-bottom: 50px;
    }

    .feedback-item {
        flex-direction: column;
        align-items: center;
    }

    .feedback .info {
        text-align: center;
    }

    .feedback-item .sub-content {
        width: 100%;
    }

    .feedback-item blockquote {
        width: 90%;
        margin: 0 auto;
        font-size: 1.6rem;
        text-align: center;
    }

    .m-dots {
        margin-top: 28px;
        display: flex;
        justify-content: center;
        gap: 6px;
    }

    .m-dots .dot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #634700;
        cursor: pointer;
    }

    .m-dots .dot.active {
        background: var(--primary-color);
        cursor: default;
    }

    .features .heading {
        width: 100%;
    }

    .features .desc {
        width: 87%;
    }

    .features .images {
        display: grid;
        grid-template-columns: 1fr;
    }

    .features .images img {
        width: 100%;
        height: auto;
    }

    .features .images img:nth-child(2) {
        margin-top: 60px;
    }

    .features .sub-content {
        margin-bottom: 30px;
    }

    .features-2nd {
        margin-top: 0;
        padding-top: 35px;
    }

    .blog {
        margin-top: 0;
        padding-top: 35px;
        width: 100%;
    }

    .blog-top .desc {
        width: 100%;
    }

    .blog-list {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 80px;
    }

    .blog-list .item {
        width: 100%;
        border: 1px solid #ccc;
    }

    .blog .link {
        margin-top: 30px;
        display: flex;
        column-gap: 8px;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 1.3rem;
        color: #0689ff;
    }

    .footer .row {
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

    .footer .row-bot {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .footer .logo {
        display: block;
        margin: 0 auto;
    }

    .footer .desc {
        margin: 18px auto 0;
        width: 96%;
        max-width: none;
        text-align: center;
    }

    .footer .social {
        justify-content: center;
    }
}
