* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: Sen, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    height: 50000px;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ======== Common ======== */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 12px;
    line-height: 50px;
    text-align: center;
    background: #171100;
    border-radius: 999px;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.8;
}

.heading {
    font-family: var(--font-heading);
    width: 470px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

/* ======== Header ======== */
.header {
    position: sticky;
    top: -26px;
    padding-top: 26px;
    background: #fffcf4;
    z-index: 1;
}

.header .nav-bar {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.header .navigation {
    margin-left: 491px;
    display: flex;
    align-items: center;
}

.header li {
    padding: 0 21px;
}

.header li a {
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    color: #5f5b53;
}

.header li:first-child a {
    position: relative;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.header li:first-child a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header-cta {
    margin-left: 49px;
    min-width: 144px;
    background: #171100;
    border-radius: 24.5px;
    font-size: 1.6rem;
}

/* ======== Hero ======== */
.hero {
    padding: 54px 0 64px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

/* Hero left */
.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .image {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 28px 24px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero-summary .item {
    display: flex;
}

.hero-summary .item + .item {
    margin-top: 22px;
}

.hero-summary .item:nth-child(2) .icon {
    background: #fcefff;
}

.hero-summary .item:nth-child(3) .icon {
    background: #fcefff;
}

.hero-summary .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff9e8;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero-summary .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

/* hero right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 63px 130px;
}

.hero .desc {
    margin-top: 22px;
}

.hero .cta-group {
    margin: 38px 0 48px 0;
    display: flex;
    align-items: center;
}

.hero-cta {
    min-width: 180px;
    line-height: 64px;
    background: var(--primary-color);
}

.watch-video {
    margin-left: 28px;
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
}

.watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .stats {
    margin-top: 8px;
}

.hero .stats strong {
    font-family: var(--font-heading);
    padding: 0 10px 0 28px;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

.hero .stats strong:first-child {
    padding-left: 0;
}

/* ======== Popular ======== */
.popular {
    margin: 200px 0 200px;
}

/* popular-top */
.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .info {
    width: 458px;
}

.popular-top .desc {
    margin-top: 16px;
}

.popular .control {
    display: flex;
    gap: 18px;
}

.popular .control-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: transparent;
}

.popular .control-btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}

/* popular-bottom */
.popular-bottom {
    margin-top: 55px;
}

.popular-bottom .list {
    display: flex;
    gap: 30px;
}

.popular-bottom .item {
    border: 1px solid #e2dfda;
    border-radius: 12px;
    flex: 1;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.popular-bottom .thumbnail {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular-bottom .body {
    padding: 16px 22px 22px;
}

.popular-bottom .title-rank {
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-bottom .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular-bottom .rank {
    display: flex;
    align-items: center;
    gap: 6px;
}

.popular-bottom .rank-desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
}

.popular-bottom .desc {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.popular-bottom .price-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-bottom .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular-bottom-cta {
    font-size: 1.4rem;
    background: #171100;
    /* border: none; */
}

.popular-bottom-cta:hover {
    opacity: 1;
    background: var(--primary-color);
}
